<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Về Chúng Tôi</h2>
            <p>Tụi mình là một nhóm sinh viên của trường Cao đẳng FPT . Dự án của tụi mìn tập trung lan tỏa yêu thương và sự chia sẻ tới những nơi mà nỗi khổ và khó khăn đang tồn tại và đặt biệt là các em nhỏ ở vùng sâu vùng xa.</p>
<!--            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">-->
<!--              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
<!--              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
<!--              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
<!--            </ul>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Quyên Góp</h2>

              <div class="text">
                <p>Cảm ơn sự đóng góp của bạn để các em có bữa cơm no bụng.</p>
                <div class="meta">
                  <a th:href="@{/donate/1}" class="btn btn-white px-3 py-2 mt-2 fs-3">Đóng Góp</a>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Liên Kết</h2>
            <ul class="list-unstyled">
              <li><a th:href="@{/home}" class="py-2 d-block">Trang Chủ</a></li>
              <li><a th:href="@{/about}" class="py-2 d-block">Về Chúng Tôi</a></li>
              <li><a th:href="@{/donate/1}" class="py-2 d-block">Quyên Góp</a></li>
              <li><a th:href="@{/gallery}" class="py-2 d-block">Hình Ảnh</a></li>
              <li><a th:href="@{/contact}" class="py-2 d-block">Liên Hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Địa chỉ</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Công Viên Phần Mềm Quang Trung, Gò Vấp, TP.Hồ Chí Minh, Việt Nam</span></li>
                <li><a><span class="icon icon-phone"></span><span class="text">(+84)395362848</span></a></li>
                <li><a><span class="icon icon-envelope"></span><span class="text">nganvps24932@fpt.edu.vn</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="row">-->
<!--        <div class="col-md-12 text-center">-->

<!--          <p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </footer>
</html>