<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Love Without Boundaries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="~{user/style/template-css :: html}"></th:block>
</head>
<body>
    <div th:replace="~{user/fragment/header.html :: nav}"></div>

	<div class="hero-wrap" style="background-image: url('images/bg_6.3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a th:href="@{/home}">Trang Chủ</a></span> <span>Về Chúng Mình</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Về Chúng Mình</h1>
          </div>
        </div>
      </div>
    </div>

    
    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(images/bg_3.jpg); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4">Rất vui vì bạn ở đây - Team Love</h2>
    				<p>Vì vốn dĩ những người trở về từ  Campuchia đã không có quốc tịch nên những đứa trẻ ngây thơ , hồn nhiên lại phải chịu chung số phận . Thiếu thốn đủ thứ , từ điện , nhà vệ sinh , và các tiện nghi khác . Họ may mắn nhờ có sự giúp đỡ của các nhà hảo tâm nên họ mới có nguồn nước sạch mà tiếp tục cuộc sống, nhưng như thế là không đủ để họ cải thiện cuộc sống tốt hơn cho những đứa trẻ. Ở đây gia đình nào cũng từ 2 đến 5 con , hầu hết những đứa trẻ này được sinh ra tại Campuchia rồi theo ba mẹ về Việt Nam nên các em không có giấy tờ nhân thân nào. Vì lẽ thế các em không thể đến trường học để có thể một phần nào đó giúp cho các em có một tương lai sáng. </p>
    			</div>
    		</div>
    	</div>
    </section>

	<section class="ftco-counter ftco-intro mb-5" id="section-counter">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate"
					 style="background-color:#0083fe !important">
					<div class="block-18 color-1 align-items-stretch" style="background-color:#0083fe !important">
						<div class="text position-relative" style="background-color:#0083fe !important">
							<span>Giúp đỡ</span>
							<strong class="number " data-number="100">0</strong>
							<span class="custom-span">Trẻ em</span>
							<span>Tà Dơ - Tây Ninh</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counther-wrap ftco-animate">
					<div class="block-18 color-2 align-items-stretc">
						<div class="text">
							<h3 class="mb-4">Chung tay sẻ chia</h3>
							<p>Mang đến nụ cười cho các em nhỏ ở<br>
								Tà Dơ</p>
							<p><a th:href="@{/donate/1}" class="btn btn-white px-3 py-2 mt-2">Đóng Góp</a></p>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 color-3 align-items-stretch">
						<div class="text">
							<h3 class="mb-4">Ấm no hạnh phúc</h3>
							<p>Ai cũng mong có một cuộc sống <br> tốt đẹp hơn</p>
							<p><a th:href="@{/donate/1}" class="btn btn-white px-3 py-2 mt-2">Đóng Góp</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="~{user/fragment/footer.html :: footer}"></div>
    <th:block th:replace="~{user/style/template-scr :: html}"></th:block>
</body>
</html>